#divContent {
	width:100%;
}
#divContent h1 {
	color: steelblue;
}
#divTitle {
	font-size: 38px;
	font-family: sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 2px #CACACA;
	color: black;
	width: 1000px;
	margin-bottom: 15px;
}
.divTitleTasks {
	font-size: 34px;
	font-family: sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 2px #CACACA;
	color: black;
	width: 964px;
	margin-bottom: 15px;
}
#divHeader {
	width:1000px; font-family: sans-serif; font-size: 16px; margin-bottom: 10px;
}
#divHeader p {
	margin: 0px; padding: 0px; font-size: 14pt; font-family: sans-serif; color: black;
}
#divMain {
	width:1000px; min-height: 100px; border: 0px solid gray; padding:10px 0 10px 0; font-family: sans-serif; font-size: 13pt;
}
#divReadme {
	width:1000px; min-height: 100px; border: 0px solid gray; padding:10px 0 10px 0; font-family: sans-serif; font-size: 13pt;
}
.svgChart {
	width:495px; height:350px; border: 1px solid steelblue;
}
.divText {
	width:1000px; min-height:30px; border: 0px solid steelblue; margin:20px 0 5px 0; font-family: sans-serif;
}
.divText p {
	margin: 0 0 10px 0; text-align: left; text-align: justify;
}
.divChartTitle {
	font-family: sans-serif; font-size: 14pt; color: black; margin:10px 0 5px 0;
}
.divSubTitle {
	font-family: sans-serif; font-size: 10pt; color: blue; margin-top:2px;
}
.cmbFilter {
	margin-right: 20px;	width: 117px;
}

/*calendar view style*/
.calendarViewDiv {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(178,34,34)}
/*End calendar view style*/